{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>카테고리</h2>
          {% for category in category_list %}
          <a href="{% url 'blog:category_detail' category.pk %}">
            <h3>{{category.title}}
              <a href="{% url 'blog:category_edit' category.pk %}" class="btn btn-sm btn-default">
                수정
              </a>
            </h3>

          </a>
          <ul>
            {% for shop in category.shop_set.all %}
              <a href="{% url 'blog:shop_detail' shop.pk %}" style="font-size: 18px;">
              <li>{{ shop.title }}
                <a href="{% url 'blog:shop_edit' shop.pk %}" class="btn btn-xs btn-default">
                수정
                </a>
              </li>
              </a>
            {% endfor %}
          </ul>
          {% endfor %}
          <br>
          <hr>
          <a href="{% url 'blog:category_new' %}" class="btn btn-xs btn-primary btn-block">새로운 카테고리</a>
          <a href="{% url 'blog:shop_new' %}" class="btn btn-xs btn-default btn-block">새로운 가게</a>
    </div>
    <div class="jumbotron">
    <h2>최근 등록된 리뷰</h2>
      <ul>
      {% for review in review_list|slice:":5" %}
        <a href="{% url 'blog:shop_detail' review.shop.pk %}" style="font-size: 18px;">
          <li>{{ review.message }} in {{ review.shop }} by {{ review.user }}</li>
        </a>
      {% endfor %}
</div>
{% endblock %}