{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2>카테고리</h2>
          {% for category in category_list %}
          <a href="{% url 'blog:category_detail' category.pk %}">
            <h3>{{category.title}}</h3>
          </a>
          <ul>
            {% for shop in category.shop_set.all %}
              <a href="{% url 'blog:shop_detail' shop.pk %}" style="font-size: 18px;">
              <li>{{ shop.title }}</li>
              </a>
            {% endfor %}
          </ul>
          {% endfor %}
          <br>
    </div>
</div>
{% endblock %}